@*
    //Auteur    : Loris habegger
    //Date      : 27.04.2021
    //Fichier   : PropositionArticle.chtml
    //Perso     : Droit géré dans le controlleur, test user name, image tiny mce, donnée to de db
    //link to us: https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/sending-html-form-data-part-1

*@

@using Microsoft.AspNetCore.Identity
@using WikiTechWebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Proposition d'article"; }

    <body>
        <h1>Ici vous pourrez proposer un article à Wikitech !</h1>
        <h3>Veuillez entrez les informations qui vous sont demandées</h3>

        <form action="google.com" method="GET">
            <input class="form-control" type="text" placeholder="Disabled readonly input" aria-label="Disabled input example" value="@User" disabled readonly>

            <div class="mb-3">
                <label for="titlearea" class="form-label">Titre de l'article</label>
                <textarea class="form-control" id="titlearea" rows="1"></textarea>
            </div>

            <div class="mb-3">
                <label for="descarea" class="form-label">Description de l'article</label>
                <textarea class="form-control" id="descarea" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="TinyArea" class="form-label">Rédaction de l'article</label>
                <textarea class="form-control" id="TinyArea" rows="20" cols="300"></textarea>
            </div>

            <div class="form-check">
                <label class="form-label">Quelle catégorie aura votre article ?</label>
                <div id="rdsection"></div>
            </div>
            </br>

            <div class="form-group">
                <label for="selectTag" class="form-label">Quel(s) Tag(s) voulez-vous pour votre article ? </label>
                <select class="selectpicker" id="selectTag" multiple data-live-search="true"></select>
            </div>
            </br>

            <input class="btn btn-outline-success btn-lg" type="submit" value="Soumettre">
        </form>
    </body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

    $(document).ready(function () {
        getTags();
        getSection();
    }
    )
    function getTags() {
        $.ajax(
            {
                url: "https://localhost:44336/api/Tags",
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    createTagSelect(data);
                }
            });
    }

    function createTagSelect(data) {
        var select = $("#selectTag");

        $.each(data, function (key, value) {
            console.log(value);
            var element = "<option value=\"" + value.idTAG + "\">" + value.nomTag + "</option>";
            select.append(element);
        })
    }

    function getSection() {
        $.ajax(
            {
                url: "https://localhost:44336/api/Sections",
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    createSectionSelect(data);
                }
            });
    }

    function createSectionSelect(data) {
        var select = $("#rdsection");

        $.each(data, function (key, value) {
            console.log(value);
            var element = "<input value=\"" + value.idSection + "\" type=\"radio\" classe=\"form-check-input \" name=\"rdsection\"" + value.idSection + "\">" + "   " + value.nomSection + "  ";
            select.append(element);
        })
    }


</script>
