@using Microsoft.Extensions.Options
@model WikiTechAPI.Models.Abonnement
@{
    ViewData["Title"] = "Don";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merci de votre Don de : <strong>@ViewBag.Prix CHF</strong> </h2>

<a href="../../Home">Retour à l'accueil</a>