@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }

<head>
    <link rel="stylesheet" href="/css/register.css">
</head>
@*<h1>@ViewData["Title"]</h1>*@

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/image/LogoWitkiTech.png" alt="logo" />
            <h3>Bienvenue</h3>
            <p>Une fois votre compte créé vous pourrez profiter de toutes les fonctionnalités de WikiTech</p>
            <a href="/Identity/Account/Login">
                <input type="submit" name="" value="Login" /><br />
            </a>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="register-heading">Créer un compte</h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" asp-for="Input.Prenom_aspnetuser" class="form-control" placeholder="Prenom *" value="" />
                                        <span asp-validation-for="Input.Prenom_aspnetuser" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" asp-for="Input.Nom_aspnetuser" class="form-control" placeholder="Nom *" value="" />
                                        <span asp-validation-for="Input.Nom_aspnetuser" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Mot de passe *" value="" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmation mot de passe *" value="" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <select asp-for="Input.Id_genre" id="selectGenre" data-live-search="true" class="form-control">
                                            <option class="hidden" selected disabled>Genre *</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email *" value="" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">                                       
                                        <select asp-for="Input.Id_ville" id="selectVille" data-live-search="true" class="form-control">
                                            <option class="hidden" selected disabled>Sélectionner ville *</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Numéro de téléphone" value="" />
                                    </div>
                                    <input type="submit" class="btnRegister" value="S'enregistrer" />
                                </div>
                            </div>
                       
                    </form>
                </div>
             
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

    $(document).ready(function () {
        getVilles();
        getGenres();
    }
    )
    function getVilles() {
        var request = new XMLHttpRequest();     
        request.open('GET', 'http://localhost:59601/Api/villes')
        request.setRequestHeader("ApiKey", "61c08ad1-0823-4c38-9853-700675e3c8fc")
    
        request.onload = function () {
            // Begin accessing JSON data here
            var data = JSON.parse(this.response)
            createVilleSelect(data);
        }
        request.send()
     

    }

    function createVilleSelect(data) {
        var select = $("#selectVille");
        $.each(data, function (key, value) {
            var element = "<option value=\"" + value.idVille + "\">" + value.nomVille + " (" + value.codeVille + ")" + "</option>";
            select.append(element);
        })
    }

    function getGenres() {
        var request = new XMLHttpRequest();
        request.open('GET', 'http://localhost:59601/Api/genres')
        request.setRequestHeader("ApiKey", "61c08ad1-0823-4c38-9853-700675e3c8fc")

        request.onload = function () {
            // Begin accessing JSON data here
            var data = JSON.parse(this.response)
            createGenreSelect(data);
        }
        request.send()
        
    }

    function createGenreSelect(data) {
        var select = $("#selectGenre");

        $.each(data, function (key, value) {    
            var element = "<option value=\"" + value.idGenre + "\">" + value.nomGenre + "</option>";
            select.append(element);
        })
    }

</script>