@*
    //Auteur    : Loris habegger
    //Date      : 30.05.2021
    //Fichier   : NotFound.chtml (page d'erreur)

*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Not Found";

}

<h1>@ViewBag.ErrorMessage</h1>

<img src="~/image/404NoteFound.png" alt="NotFound Wallpaper" />

<a asp-action="index" asp-controller="home">Revenir à la page principale</a>