
<header>
    <h1 class="text-danger">Validation postulation</h1>
    <p>Votre postulation à bien été prise en compte. Vous allez prochainement recevoir un mail de confirmation.</p>
    <p>Merci de l'intérêt que vous portez à WikiTech</p>
    <a href="../Home">Retour à l'accueil</a>
</header>