@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu chez Wikitech</h1>
    <p><a href="PropositionArticle">Proposition article</a>.</p>
    <p><a href="Articles">Articles</a>.</p>
    <a class="nav-link" asp-controller="Articles" asp-action="Indexing" asp-route-currentPage="1">indexing</a>
    <p><a href="AspNetUsers">Utilisateurs</a>.</p>
    <p><a href="Postulations">postulation</a>.</p>
</div>
